<%- include("partials/header") -%>
<!DOCTYPE html>


<body class="text-center" style="background-color:#1E5128">

  <div class="form-signin">
    <form>
    <a href="main.ejs"><img class="mb-4 logo-md" src="public/images/fist.png" alt="" width="72" height="57"></a>
      <h1 class="h3 mb-3 fw-normal" style="color:white">Please sign in</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label style="color:white">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-outline-light btn-lg" type="submit">Sign in</button>

    </form>
  </div>


  <footer id="footer">
    <div class="container-fluid">

      <a class="navbar-brand getta-grip" href="main.ejs">Getta Grip!</a>
      <p>2022 Getta Grip! LLC</p>

    </div>
  </footer>
<%- include("partials/footer") -%>
